inoremap <silent> jj <ESC>
set clipboard=unnamed
"beep音けす
set visualbell
set noerrorbells
"vim surroundと同様
set surround

"インデント時2つ
set cinoptions+=:0
set softtabstop=2
"インデント時2つ
set shiftwidth=2

"rename
nnoremap cre :<C-u>action RenameElement<CR>

inoremap <C-d> <Del>

nmap g] :action GotoImplementation<CR>

"テスト実行
nnoremap \r :action RunClass<CR>